<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Welcome to ChaChaT</title>
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="./socket.io/socket.io.js"></script>
	<script>
	$(function(){
		var host = '{{config.host}}';
		var socket = io.connect(host + '/roomlist');// localhost:3000/roomlist
		socket.on('connection', function(){
			console.log('[html]Connecttion is Established!');
		});
	})
	</script>
</head>
<body>
	<h1>Hello world</h1>
	<p>[views/chatrooms.html]</p>
	<img src={{user.profilePic}}>
	<p>{{user.fullname}}</p>
	<a href="/logout">Logout</a>
</body>
</html>
